.nik {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(90, 68, 68, 0.4)),
    url(assets/image.jpeg);
  background-position: center;
  background-size: cover;
  position: absolute;
  opacity: 90%;
}

p {
  font-size: 30px;
  padding-top: 8%;
}

.niki {
  margin-top: 100px;
  color: rgb(4, 4, 46);
}

.btn btn-success {
  margin-top: 20px;
}

.btn {
  color: black;
}

.btn:hover {
  color: rgb(33, 248, 248);
}

.col-6 {
  margin-left: 50px;
  margin-right: 250px;
  margin-top: 150px;
  color: rgb(242, 248, 248);
}

.team {
  margin-left: 950px;
  margin-right: 10px;
  margin-top: -80px;
  color: rgb(181, 238, 238);
}
